.DS_Store

/.vs
/.idea
/bin-int
/bin

/Editor/saved
/Editor/DefaultLayout.ini

/Document/html
/node_modules

*.user
*.sln
*.slnx
*.vcxproj
*.csproj
*.vcxproj.filters
*package-lock.json

/Engine/*.json
/Editor/*.json
/Runtime/*.json
/UnitTest/*.json
*.log

Makefile
/Engine/Makefile
/Editor/Makefile
/Runtime/Makefile
/UnitTest/Makefile

*.xcworkspace
/Engine/*.xcodeproj
/Editor/*.xcodeproj
/Runtime/*.xcodeproj
/UnitTest/*.xcodeproj

/Nepnep/.idea
/Nepnep/next-env.d.ts
/Nepnep/.next
/Nepnep/node_modules
/Nepnep/dist
/Nepnep/static/wasm
/Nepnep/public/wasm
/Nepnep/package-lock.json
/Nepnep/prisma/migrations

/Engine/vendor/Glad/bin
/Engine/vendor/Glad/bin-int
/Engine/vendor/Glad/*.vcxproj
/Engine/vendor/Glad/*.vcxproj.filters
/Engine/vendor/Glad/*.xcodeproj

/Engine/vendor/emdawnwebgpu/__pycache__

/Engine/vendor/Lua/bin
/Engine/vendor/Lua/bin-int
/Engine/vendor/Lua/*.vcxproj
/Engine/vendor/Lua/*.vcxproj.filters
/Engine/vendor/Lua/*.make
/Engine/vendor/Lua/*.xcodeproj

/Scripts/BuildDependencies/__pycache__
/Scripts/BuildSystem/__pycache__

/vendor/premake
/vendor/tracy
.vercel
