[submodule "NeptuneEngine/vendor/spdlog"]
	path = NeptuneEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "NeptuneEngine/vendor/ImGuizmo"]
	path = NeptuneEngine/vendor/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
[submodule "NeptuneEngine/vendor/tracy"]
	path = NeptuneEngine/vendor/tracy
	url = https://github.com/wolfpld/tracy
[submodule "NeptuneEngine/vendor/IconFontCppHeaders"]
	path = NeptuneEngine/vendor/IconFontCppHeaders
	url = https://github.com/juliettef/IconFontCppHeaders
[submodule "NeptuneEngine/vendor/imgui"]
	path = NeptuneEngine/vendor/imgui
	url = https://github.com/spices-lib/imgui
[submodule "NeptuneEngine/vendor/yaml-cpp"]
	path = NeptuneEngine/vendor/yaml-cpp
	url = https://github.com/spices-lib/yaml-cpp
[submodule "NeptuneEngine/vendor/implot"]
	path = NeptuneEngine/vendor/implot
	url = https://github.com/spices-lib/implot
[submodule "NeptuneUnitTest/vendor/googletest"]
	path = NeptuneUnitTest/vendor/googletest
	url = https://github.com/spices-lib/googletest
[submodule "NeptuneEngine/vendor/glm"]
	path = NeptuneEngine/vendor/glm
	url = https://github.com/spices-lib/glm
[submodule "NeptuneEngine/vendor/emscripten-glfw"]
	path = NeptuneEngine/vendor/emscripten-glfw
	url = https://github.com/pongasoft/emscripten-glfw.git
[submodule "NeptuneEngine/vendor/GLFW"]
	path = NeptuneEngine/vendor/GLFW
	url = https://github.com/spices-lib/glfw.git
[submodule "NeptuneEngine/vendor/VulkanMemoryAllocator"]
	path = NeptuneEngine/vendor/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "NeptuneEngine/vendor/sol2"]
	path = NeptuneEngine/vendor/sol2
	url = https://github.com/ThePhD/sol2.git
